*{
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
.topnav{
    width: 100%;
}
.logo{
    background-color: red;
    width: 30%;
    margin: 5px;
}
.menu{
    background-color: rgb(209, 98, 98);
    width: 70%;
    margin: 5px;
}
.content{
    width: 100%;
    padding: 1px;
    display: flex;
    text-align: center;
}
.header{
    background-color: rgb(90, 28, 28);
    width: 70%;
    height: 25px;
    margin: 3px;
}

.social{
    background-color: rgb(189, 99, 114);
    width: 40%;
}
.ads{
    background-color: pink;
    width: 30%;
    height:20px;
    margin: 3px;
}
 .arts{ 
    width: 100%;
    padding: 1px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
}
.row{
    display: flex;
    gap: 10px;
}
.a{
    background-color: gray;
    width: 20%;
    height: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
